html,
body {
  min-height: 100%;
}

.content-wrapper,
.right-side,
.main-footer {
  margin-left: 250px;
}



.main-header>.navbar {
  margin-left: 250px;
}


.layout-top-nav .main-header>.navbar {
  margin-left: 0;
}

.main-header .logo {
  width: 250px;
}

.content-header {
  padding: 10px 5px 35px 5px;
}

.content-header>.breadcrumb {
  top: 37px;
  right: 5px;
}

.content-header {
  position: relative;
  padding: 10px 5px 35px 5px;
}

.main-sidebar,
.left-side {
  width: 250px;
}



.sidebar-menu>li .label,
.sidebar-menu>li .badge {
  margin-top: 3px;
}

.sidebar-menu li>a>.fa-angle-left {
  margin-top: 3px;
}

.sidebar-menu li.active>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.sidebar-menu li.active>.treeview-menu {
  display: block;
}

.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 0px;
}

.sidebar-menu .treeview-menu>li {
  margin: 0;
}

.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

.sidebar-menu .treeview-menu>li>a>.fa,
.sidebar-menu .treeview-menu>li>a>.glyphicon,
.sidebar-menu .treeview-menu>li>a>.ion {
  width: 20px;
}

.sidebar-menu .treeview-menu>li>a>.fa-angle-left,
.sidebar-menu .treeview-menu>li>a>.fa-angle-down {
  width: auto;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
  white-space: normal;
  display: block !important;
  position: absolute;
  left: 50px;
  width: 250px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu>ul:not(.menu-open) {
  white-space: pre-wrap;
  width: auto;
  min-width: 250px;
  max-width: 300px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
  top: 0;
  margin-left: -3px;
  padding: 12px 5px 12px 20px;
  background-color: inherit;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
  top: 44px;
  margin-left: 0;
}

.sidebar-menu li>a>.pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
}


.control-sidebar-bg,
.control-sidebar {
  right: -250px;
  width: 250px;
}


.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
  white-space: nowrap;
}

.form-control {
  border-radius: 4px;
}


.input-group .input-group-addon {
    border-radius: 3px 0 0 3px;
    padding: 4px 20px;
    border-color: #e2e2e2;
    background-color: #f1f1f1;
}


.box {
    border-top: 3px solid #fff;
    margin-bottom: 10px;
}

.box > .box-header-lg {
    padding: 10px;
    font-size: 18px;
}

.box > .box-header-lg > .box-tools > .btn {
    padding: 10px;
}

.box-header { 
    padding: 5px;
}


.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    font-size: 14px;
}
.box-header > .box-tools {
    right: 5px;
    top: 2px;
}

.btn-box-tool {
    width: auto !important;
}


.box-body {
    padding: 5px 10px 5px 10px;
}

.box-footer {
    background-color: #ffffff;
}


/* Espa├ºos */

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-12 {
    margin-top: 12px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-7 {
    margin-bottom: 7px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.form-group {
    margin-bottom: 7px;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

a:hover,
a:focus {
    opacity: 0.8;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.required {
    color: red;
}
.required-content, textarea.required-content {
    border-color: red !important;
}
.has-feedback .form-control {
    padding-right: 34px !important;
}

.has-feedback .input-sm {
    padding-right: 27px !important;
}

.form-control-feedback:hover {
    cursor: pointer;
    opacity: .6;
}

.form-control-feedback {
    cursor: pointer;
    z-index: 10;
    pointer-events: auto;
}

.feedback-sm {
    width: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
}

.btn-feedback {
    border: none !important;
    padding: 0 !important;
    background: transparent !important;
}

.btn-feedback,
.form-control-feedback:hover {
    color: #3c763d;
}

.btn-feedback.focus,
.btn-feedback:focus,
.btn-feedback:hover {
    color: #3c763d;
    opacity: .6;
}

.no-radius {
    border-radius: 0px !important;
}

.text-responsive {
    overflow: hidden !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
    display: block !important;
    white-space: nowrap !important;
}

.no-wrap {
    white-space: nowrap !important;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}.space {
     display: inline;
     padding: 5px;
 }


.page-error {
    width: 100%;
    height: 100%;
    background-color: #1f8dd1;
    box-sizing: border-box;
}

.page-error .error-status {
    background-color: #f3f3f3;
}

.page-error .error-status h1 {
    margin: 0 0 -15px 0;
    color: #1C7EBB;
    font-size: 200px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}


.page-error .error-message {
    background-color: #1C7EBB;
    padding: 24px;
}

.page-error .error-message h2 {
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-error .error-body {
    padding: 50px 10px 20px;
}

.page-error .btn-goback {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    width: 200px;
}

.page-error .btn-goback:hover {
    color: #1f8dd1;
    background-color: #fff;
}

.page-error .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 2px;
}

.page-error .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
}

.page-error a {
    text-decoration: none;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ui-grid {
    background-color: white;
}

.ui-grid, .ui-grid-viewport {
    min-height: 300px;
    height: auto !important;
}

.ui-grid-min .ui-grid,
.ui-grid-min .ui-grid-viewport {
    min-height: 150px !important;
}

.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow-x: auto !important;
}

.ui-grid-row:hover .ui-grid-cell {
    background: #b8c7ce none repeat scroll 0% 0%;
    font-weight: bold;
}

.ui-grid-row .ui-grid-cell {
    border: none;
    /*border: 1px solid #f4f4f4;*/
}

.ui-grid-top-panel, .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background: transparent;
    color: #818c91;
}

.ui-grid-top-panel {
    font-weight: normal;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background: rgb(187, 200, 200) none repeat scroll 0% 0%;
    font-weight: bold;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell.ui-grid-cell-focus,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell.ui-grid-cell-focus {
    outline: 0;
    background: rgb(187, 200, 200) none repeat scroll 0% 0%;
}

.grid-watermark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
    font-size: 2em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.grid-loading-backgroud {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

.grid-loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #1f9b7c;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.grid-loading-cancel {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 14px;
    color: red;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.pager > li > a:focus,
.pager > li > a:hover {
    color: #23527c;
    background-color: #e6f2ff;
    cursor: pointer;
}
.text-white {
    color: white !important;
}

.text-white a {
    color: white !important;
}


.has-feedback .form-control {
    padding-right: 34px !important;
}

.has-feedback .input-sm {
    padding-right: 27px !important;
}

.has-feedback .multi {
    padding-right: 54px !important;
}

.form-control-feedback:hover {
    cursor: pointer;
    pointer-events: auto;
    color: #3c763d;
    opacity: .6;
}

.form-control-feedback {
    cursor: pointer;
    z-index: 10;
    pointer-events: auto;
}

.btn-feedback-left {
    position: absolute;
    top: 0;
    right: 27px;
    text-align: center;
}

.feedback-sm {
    width: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
}

.feedback-lg {
    width: 46px !important;
    height: 46px !important;
    line-height: 46px !important;
}

.btn-feedback {
    border: none !important;
    padding: 0 !important;
    background: transparent !important;
    color: #3c763d;
}

.btn-feedback, .form-control-feedback:hover {
    color: #3c763d;
}

.btn-feedback.focus, .btn-feedback:focus, .btn-feedback:hover {
    color: #3c763d;
    opacity: .6;
}

.btn-feedback-left {
    right: 27px;
}

.ui-grid-render-container-body .ui-grid-viewport {
    min-height: 268px !important;
}



a:hover, a:focus {
    opacity: 1;
}
	
.jmj-validation-message {
	min-height: 15px;
	font-size: 0px; 
	color: white;
}	
	
.jmj-validation-message.jmj-is-invalid{
	font-size: 10px; color: red;
}

.jmj-validation-message > span {	
    padding-left: 5px;	
	-webkit-animation: fadeIn 500ms ease; /* Safari 4.0 - 8.0 */
  animation: fadeIn 500ms ease; /* Safari 4.0 - 8.0 */
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}